<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
  <listeners>
    <listener class-name="org.nagp.listeners.ExtentTestNGListener"/>
  </listeners>
  <test name="TestProject">
    <classes>
      <class name="org.nagp.AppTest" />
      <class name="org.nagp.BasicTest" />
    </classes>
  </test>
</suite>